/*Schrijf hier jouw CSS*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header , footer{
    flex:0 0 120px
}
.main-box{
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
}
article{
    flex:0 0 60%;
    order: 2;
}
nav{
    flex: 0 0 20%;
    order: 1;
}
aside{
    flex: 0 0 20%;
    order: 3;
}