
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*OPDRACHT 1*/

.opdracht-1 > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*OPDRACHT 2*/
.opdracht-2 > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.item{
    height: 115px;
    flex-basis: 400px;
}
/*opdracht 3*/

.opdracht-3 > ul{
    display: flex; /*flex-box property*/
    flex-direction: column; /*staat standaard op row als deze property niet word aangeroepen*/
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 400
}

.flex-item1 {

    align-self: flex-start;
}

.flex-item2  {

    align-self: center;
}
.flex-item3  {
align-self: flex-end;
}

/* OPDRACHT 4*/

.opdracht-4 >ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.8em;
}

/*OPDRACHT 5*/

.opdracht-5 div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;


}
.opdracht-5 .item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;




}
.opdracht-5 .item:nth-of-type(1){
    align-items: flex-start;
}

.opdracht-5 .item:nth-of-type(2){
    align-items: center;
}
.opdracht-5 .item:nth-of-type(3){
    align-items: flex-end;
}